body {
      background: rgb(32, 32, 32);
      color: #fff;
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;
}

#chat-container {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 1160px;
      height: 550px;
      /* background-color: rgb(187, 181, 181); */
      /* background-color: rgb(51, 51, 51); */
      background-color: rgb(201, 199, 199);
      position: relative;
      border:1px solid #ddd;

      /* max-width: 600px;
      margin: 30px auto;
      border:1px solid #ddd;
      box-shadow: 1px 3px 5px rgba */
}

#chat-window {
      padding: 14px 0;
      margin: 0 20 px;
      border-bottom: 1px solid #e9e9e9;
      color: #555;
}

#output p {
      color: #aaa;
      padding: 14px 0;
      margin: 0 20px;
}

#action p {

      padding: 14px 0;
      margin: 0 20px;
      border-bottom: 1px solid #e9e9e9;
      color: #555;
}

#rooms {
      float: left;
      width: 250px;
      height: 550px;
      /* background-color: rgb(8, 64, 110); */
      background-color: #822252;
      border-right:1px solid #ddd;

      /* color: #fff;
      font-size: 18px;
      border: 0;
      padding: 12px 0;
      width: 100%;
      border-radius: 0 0 2px 2px; */
    }
  
    /* #messagesZone {
      float: center;
      background: #c995af;
      width: 65%;

} */

#usuarisRoom {
      float: right;
      width: 250px;
      height: 550px;
      /* background-color: rgb(8, 64, 110); */
      background-color: #5f193c;
      border-left:1px solid #ddd;

}

input {
      padding: 10px 20px;
      box-sizing:  border-box;
      border: 0;
      background:  #eee;
      /* display: block; */
      width: 85%;
}

button {
      background: #822252;
      color: #fff;
      font-size: 18px;
      border: 0;
      padding: 12px 0;
      width: 85%;
      border-radius: 0 0 2px 2px;
}