body {
      /* width: 85%; */

      height: 75vh;

      background: rgb(32, 32, 32);
      color: #fff;
       /* color: rgb(99, 42, 119) ; */
      font-family: 'Nunito Sans', sans-serif;
      text-align: center;


      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
}

/* body {
      display: flex;
      flex-direction: column;
      align-items: center;
  } */


  /* #header {
      display: block;
      width: 100%;
  } */


#chat-container {
      /* margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 85%;
      height: 550px; */


      /* background-color: rgb(187, 181, 181); */
      /* background-color: rgb(51, 51, 51); */

      margin-top: 10px;
      margin-bottom: 10px;
      width: 70%;

      height: 75vh;
      display: flex;
      
      position: relative;
      padding-bottom: 1rem;

      
      background-color: rgb(201, 199, 199);
      /* position: relative; */
      border: 1px solid #ddd;

      /* max-width: 600px;
      margin: 30px auto;
      border:1px solid #ddd;
      box-shadow: 1px 3px 5px rgba */
}

#xatZone {
      
      width: 95%;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      border-radius: 2em;
      background-color: var(--chat-background);
          
      /* align-content: center;
      width: 25px;
      height: 550px;
      background-color: #22195f;
      border-left:1px solid #ddd;  */
}

#rooms {
      /* display: center; */
      /* font-display: center; */
      float: left;
      /* width: 250px; */
      /* width: 75%; */

      width: 35%;
      height: 550px;
      /* background-color: rgb(8, 64, 110); */
      background-color: #822252;
      border-right:1px solid #ddd;

      /* color: #fff;
      font-size: 18px;
      border: 0;
      padding: 12px 0;
      width: 100%;
      border-radius: 0 0 2px 2px; */
}

#usuarisRoom {
      float: right;
      width: 35%;
      height: 550px;
      /* background-color: rgb(8, 64, 110); */
      background-color: #5f193c;
      border-left:1px solid #ddd;
      
}


#chat-window {
      position: relative;

      padding: 14px 0;
      margin: 0 20 px;
      border-bottom: 1px solid #e9e9e9;
      color: #555;
}


#xatForm {
      width: 100%;
      /* width: 95%; */
      /* position: relative; */
position: fixed bottom;
      justify-content: flex-end;


}

#output p {
      color: #aaa;
      padding: 14px 0;
      margin: 0 20px;
}

#action p {

      padding: 14px 0;
      margin: 0 20px;
      border-bottom: 1px solid #e9e9e9;
      color: #555;
}

  
    /* #messagesZone {
      float: center;
      background: #c995af;
      width: 65%;

} */

.room-form {
      display: flex;
      margin-top: 100%;
      padding: 0.75rem 0.5rem;
      padding-top:0.5rem;
  }
  
.newRoomButton {
      background-color: #a86687;
      text-align: center;
      color: rgb(32, 32, 32);

      /* display: flex; */
      padding: 0.75rem 0.5rem;
      /* padding-top:0.5rem; */
      padding-bottom: 0.10 rem;
}






#usersList{
      /* color: rgb(115, 24, 143); */
      /* color: rgb(32, 32, 32); */
      color: rgb(205, 111, 186);

}


input {
      padding: 10px 20px;
      box-sizing:  border-box;
      border: 0;
      background:  #eee;
      /* display: block; */
      width: 85%;
}

button {
      /* display: center; */
      background: #822252;
      color: #fff;
      font-size: 18px;
      border: 0;
      padding: 12px 0;
      width: 85%;
      border-radius: 0 0 2px 2px;
}


/* #roomList {
      display: center;
} */


/* .currentRooms {
      display: center;

} */



.room-btn-active {
      color: #fff;
}

.room-btn-active:hover {
      color: rgb(205, 111, 186);
}


/* 
.fa-power-off{
      color:var(--color) !important;
      background-color: var(--background-color);
      margin-top:1.2rem;
      margin-left:0.8rem;
  }
      
  
  .fa-power-off:hover{
      color:var(--blue) !important;
      background-color: var(--background-color);
  } */